body {
	background-color: #F0FFF0;
}

.top-header {
	width: 100%;
	height: 50px;
	background-color: #00CC66;
	text-align: center;
	color: #FDFDFD;
	vertical-align: middle;
	font-weight: bold;
	display: table;
	font-size: 17px;
	position: relative;
	
	-webkit-box-shadow: 0 8px 6px -6px #C0CCC0;
	   -moz-box-shadow: 0 8px 6px -6px #C0CCC0;
	        box-shadow: 0 8px 6px -6px #C0CCC0;
}

.top-header div {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	text-align: center;
	top: 12px;
	position: relative;
}

.main-content {
	text-align: center;
	font-size: 19px;
	font-family: Arial;
	color: #333333;
}